@model IEnumerable<MVC_Onion_Project.Presentation.Models.AuthorVM_s.AuthorListVM>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
	<div>
		<h1 style="color:white">Author Table</h1>
	</div>
	<div class="col-12">
		<div class="card mb-4">
			<div class="card-header pb-0">


				<a class="btn btn-success" asp-controller="Author" asp-action="Create">Create</a>
			</div>
			<div class="card-body px-0 pt-0 pb-2">
				<div class="table-responsive p-0 ">
					<table class="table align-items-center mb-0 ">
						<thead>
							<tr>
								@*        <th>
								@Html.DisplayNameFor(model => model.Id)
								</th>*@
								<th>
									@Html.DisplayNameFor(model => model.FullName)
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									@*            <td>
								@Html.DisplayFor(modelItem => item.Id)
								</td>*@
									<td>
										@Html.DisplayFor(modelItem => item.FullName)
									</td>

									<td class="float-lg-end">
										<a class="btn btn-warning" asp-controller="Author" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
										<a class="btn btn-primary" asp-controller="Author" asp-action="Details" asp-route-id="@item.Id">Details</a>
										<a class="btn btn-danger" asp-controller="Author" asp-action="Delete" asp-route-id="@item.Id" onclick="return showDataAlert()">Delete</a>

									</td>

								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
